.wrapper {
  border-bottom: 2px solid var(--black);
  height: max-content;
  width: 100%;
  cursor: auto;
  .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    .left,
    .right {
      position: relative;
      width: 100%;
      display: flex;
      &-container {
        max-width: 600px;
        width: 100%;
        position: relative;
        z-index: 1;
      }
    }
    .left {
      justify-content: flex-end;
      padding-top: 56px;
      padding-bottom: 110px;
      background: var(--pink);
      &-container {
        .title {
          color: var(--black);
          font-family: var(--font-mabry-pro);
          font-size: 48px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          margin: 0;
          max-width: 450px;
        }
        .description {
          margin-top: 36px;
          max-width: 470px;
          color: var(--white);
          font-family: var(--font-mabry-pro);
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
        }
        .btn {
          margin-top: 42px;
          border-radius: 4px;
          border: none;
          cursor: pointer;
          position: relative;
          width: max-content;
          padding: 0;
          background: transparent;
          .btn-block {
            position: relative;
            display: flex;
            gap: 12px;
            padding: 14px 30px 14px 31px;
            background: var(--black);
            color: var(--white);
            font-family: var(--font-mabry-pro);
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            transition: all ease-out 0.25s;
            transform: none;
            z-index: 3;
            border-radius: 2px;
            span {
              display: block;
              white-space: nowrap;
            }
          }
          &::before {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 2px;
            border: 1px solid var(--black);
            background: var(--pink);
            transition: all ease-out 0.25s;
            transform: none;
            z-index: 0;
          }
          &::after {
            position: absolute;
            top: 0;
            left: 0;
            content: '';
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            border-radius: 2px;
            border: 1px solid var(--black);
            background: var(--yellow);
            transition: all ease-out 0.25s;
            transform: none;
            z-index: -1;
          }
          &:hover {
            .btn-block {
              transform: translate(-10px, -10px);
            }
            &::before {
              transform: translate(-5px, -5px);
            }
          }
          &:active {
            &::before,
            &:after,
            .btn-block {
              transform: none;
              transition: none;
            }
          }
        }
      }
    }
    .right {
      border-left: 2px solid var(--black);
      justify-content: flex-start;
      background: var(--correct);
      box-sizing: border-box;
      &-container {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        .custom-shapes {
          position: absolute;
          bottom: 0;
          left: 100px;
        }
        .card {
          position: absolute;
          bottom: 100px;
          right: 100px;
          display: flex;
          align-items: center;
          gap: 10px;
          background: var(--white);
          border: 2px solid var(--black);
          padding: 4px 20px 4.25px 6px;
          height: max-content;
          border-radius: 100px;
          &-title {
            color: var(--black);
            font-family: var(--font-mabry-pro);
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            margin: 0;
          }
        }
      }
    }
    @media screen and (max-width: 1200px) {
      .left {
        padding-left: 10px;
      }
      .right {
        padding-right: 10px;
      }
    }
    @media screen and (max-width: 900px) {
      grid-template-columns: repeat(1, 1fr);
      .left {
        margin: 0 auto;
        justify-content: center;
        padding: 0;
        .left-container {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 50px 10px 90px;
          .title {
            text-align: center;
            padding: 0;
            max-width: 100%;
          }
          .description {
            text-align: center;
            max-width: 100%;
          }
          .btn {
            width: 100%;
            text-align: center;
            .btn-block {
              justify-content: center;
            }
          }
        }
      }
      .right {
        box-sizing: border-box;
        border-left: none;
        border-top: 2px solid var(--black);
        padding: 65px 10px;
        justify-content: center;
        &-container {
          .card {
            bottom: 50px;
          }
          .custom-shapes {
            bottom: -50px;
          }
        }
      }
    }
    @media screen and (max-width: 600px) {
      .right {
        &-container {
          .card {
            bottom: 50px;
            transform: translateX(50%);
          }
          .custom-shapes {
            transform: translateX(-50%);
            bottom: -50px;
          }
        }
      }
    }
  }
}
