.wrapper {
  display: block;
  color: #000;
  font-family: var(--font-getai);
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  margin: 0;
  display: inline-block;
  margin: 0 auto;
  @media screen and (max-width: 1220px) {
    padding: 0 10px;
  }
  @media screen and (max-width: 960px) {
    font-size: 96px;
  }
  @media screen and (max-width: 750px) {
    font-size: 64px;
  }
  @media screen and (max-width: 500px) {
    font-size: 54px;
  }
  @media screen and (max-width: 400px) {
    font-size: 48px;
  }
}
